openapi: 3.0.3
info:
  title: CubeSigner Account Accounts API
  description: The CubeSigner management and signing service.
  contact:
    name: Cubist Inc.
    email: hello@cubist.dev
  version: v0.1.0
servers:
- url: https://gamma.signer.cubist.dev
  description: Testing and staging environment
- url: https://prod.signer.cubist.dev
  description: Production environment
security:
- Cognito: []
tags:
- name: Accounts
paths:
  /v0/org/{org_id}/invitation/accept:
    post:
      tags:
      - Accounts
      summary: Accept an invitation
      description: 'Accept an invitation


        This endpoint allows idp users to register using a token they have received in their email'
      operationId: invitationAccept
      parameters:
      - name: org_id
        in: path
        description: Name or ID of the desired Org
        required: true
        schema:
          type: string
        example: Org#124dfe3e-3bbd-487d-80c0-53c55e8ab87a
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationAcceptRequest'
        required: true
      responses: {}
      security: []
components:
  schemas:
    AuthSource:
      type: object
      description: 'At redemption time, the user must provide a credential they wish to use to authenticate.

        This enum represents the two possible sources of authentication.'
      required:
      - kind
      - credential
      properties:
        credential:
          type: string
        kind:
          $ref: '#/components/schemas/AuthSourceKind'
    AuthSourceKind:
      type: string
      description: 'At redemption time, the user must provide a credential they wish to use to authenticate.

        This enum represents the two possible sources of authentication.'
      enum:
      - password
      - oidc
    InvitationAcceptRequest:
      type: object
      required:
      - token
      - auth
      properties:
        auth:
          $ref: '#/components/schemas/AuthSource'
        token:
          type: string
          description: Invitation token
  securitySchemes:
    Oidc:
      type: apiKey
      in: header
      name: Authorization
      description: OIDC tokens allow users to authenticate using a third-party service. These are exchanged for signer session tokens.
    SignerAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Signing API end-points use session tokens for auth. Specifically, with each request you need to use the \`token\` from your signer session (which you create with `cs token create`).
